@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--prime: rgba(245, 239, 230, 1);
--dark-charcoal: rgba(42, 42, 42, 1);
--accent-1: rgba(200, 169, 126, 1);
--accent-2: rgba(139, 168, 136, 1);
--prime-2: rgba(255, 244, 212, 1);
--black: rgba(21, 21, 21, 1);
--accent-3: rgba(215, 126, 3, 1);
--accent-4: rgba(241, 186, 109, 1);
--titles-font-font-family: "Cormorant Garamond", Helvetica;
--titles-font-font-weight: 400;
--titles-font-font-size: 24px;
--titles-font-letter-spacing: 0px;
--titles-font-line-height: normal;
--titles-font-font-style: normal;
--body-fonts-font-family: "Poppins", Helvetica;
--body-fonts-font-weight: 400;
--body-fonts-font-size: 16px;
--body-fonts-letter-spacing: 0px;
--body-fonts-line-height: 139.9999976158142%;
--body-fonts-font-style: normal;
--h-1-font-family: "Cormorant Garamond", Helvetica;
--h-1-font-weight: 700;
--h-1-font-size: 72px;
--h-1-letter-spacing: 0px;
--h-1-line-height: normal;
--h-1-font-style: normal;
--variable-collection-dark: rgba(30, 30, 30, 1);
--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) ;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background: #6F36FF;
}

::selection{
  color: #fff;
  background: #6F36FF;
}
.wrapper {
  position: absolute;
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
  pointer-events: none; /* This allows click-through to the physics body */
}


.cta-button {
  display: inline-flex;
  gap: 1.75rem; 
  padding-left: 1.75rem;
  padding-right: 0;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: var(--dark-charcoal);
  border-radius: 390px;
  overflow: hidden;
  width: fit-content;
  border: var(--prime) 1px solid;
}

.cta-button > .text-wrapper {
position: relative;

font-family: "Poppins-SemiBold", Helvetica;
font-weight: 600;
color: var(--prime);
font-size: 24px;
line-height: normal;
padding-right: 0;
min-width: fit-content;
}
.cta-button .link {
  pointer-events: auto;
}